@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    width: 700px;
    border-radius: 20px;
    background-color: #E6E3D3;
    display: block;
    margin: auto;
    margin-bottom: auto;
    margin-top: 20px;
    vertical-align: middle;
}

.top{
    height: 60px;
    background-color: black;
    color: black;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: #BFBDB0;
    color: black;
    margin: 10px 0px 0px 0px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
}

.day{
    padding: 15px;
    color: black;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: black;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.pressure-windspeed{
    padding: 15px;
    color: black;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

.description{
    padding: 15px;
    color: black;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}